@media screen and (min-width:1200px) {
    .hero_content{ 
        padding: 0 0 0 1rem !important; 
    }

    .hero_content_container{
        width: 100%;
    }

    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 850px;
    }

    #hero .photo{
        width: 400px;
    }
}

@media screen and (min-width:1400px) {
    #hero .photo{
        width: 600px;
    }
}